form {
    display: contents;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, select {
    padding: 3px;
    margin-top: 5px;
  }
  
  button {
    margin-top: 15px;
    background-color: #1976d2;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
  }
  
  button:hover {
    opacity: 0.9;
  }

 .error-msg {
    color: red;
  }

  .options {
    margin-left: 10px;
  }
  